{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-3">Veuillez vous connecter</h1>
            <p class="text-center text-muted mb-5">Pour poster une question, il est nécessaire de se connecter</p>
            <form method="post">
                <label for="inputEmail">Adresse Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password"
                       required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <button class="col-12 btn btn-lg btn-primary mt-3" type="submit">
                    Se connecter
                </button>
            </form>
            <p class="text-center text-muted mt-5 mb-3">Pas encore membre ? <a href="#">Créer un compte</a></p>

        </div>
    </div>
{% endblock %}
